<h1> Add link </h1>

<form action="/links" method="post">
  Title:
    <input type="text" name="title" required>
  URL:
    <input type="text" name="url" required>
  Tag:
    <input type="text" name="tag" required>
    <input type="submit" value="Add link">
</form>


